.date-list {
    max-width:600px;
    margin:20px auto 0;
}
    .date-list__date-title {
        font-size:20px;
        margin-bottom:10px;
        border-bottom:1px solid #aaa;
    }

.event-item {
    background:#fff;
    margin-bottom:15px;
}
    .event-item__header {
        padding:80px 0 0;
        border-bottom:1px solid rgba(0,0,0,0.12);
        position:relative;
        border-radius:3px 3px 0 0;
        overflow:hidden;
    }
        .event-item__image {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            overflow:hidden;
        }
            .event-item__image img {
                position:relative;
                top:-40%;
            }
        .event-item__header-text-wrap {
            position:relative;
            color:#fff;
            padding:10px 20px;
            background:rgba(0,0,0,0.5);
            box-shadow:0 0 20px rgba(0,0,0,0.9);
        }
            .event-item__name {
                font-size:18px;
                font-weight:700;
            }
            .event-item__organizer {
                float:left;
            }
            .event-item__organizer:after {
                content: '\b7';
                display:inline-block;
                margin:0 5px;
            }
            .event-item__date-range {
                float:left;
            }
                .event-item__start-date {
                    float:left;
                }
                .event-item__start-date:after {
                    content: '\2013';
                    display:inline-block;
                    margin:0 5px;
                }
                .event-item__end-date {
                    float:left;
                }

    .event-item__body {
        border:1px solid rgba(0,0,0,0.14);
        border-bottom:0;
        border-top:none;
        box-shadow:0 2px 1px rgba(0,0,0,0.14);
        border-radius:0 0 3px 3px;
    }
        .event-item__description {
            padding:20px 20px 10px;
        }
        .event-item__control-row {
            padding:0 0 16px;
            text-align:center;
        }