@import 'event-list.css';

.button {
    border-radius:3px;
    padding:2px 30px;
    font-weight:400;
    font-size:14px;
}
.button--primary {
    border:1px solid #1E6DC1;
    color:#fff;
    background:#1E6DC1;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}