@import 'variables.styl';

.control-row {
  position fixed
  top nav-height
  left 0
  z-index 99
  background op-blue
  width 100%
  color #fff
}

.cr-dropdown__toggle
  background none
  border none
  padding 0 30px 0 0
  height cr-height
  line-height cr-height
  font-size 16px
  font-family "Roboto", Sans-Serif
  font-weight 500
  position relative
  z-index 1000
  transition all 0.1s ease-in
  outline none
  text-align left
  & .fa
    margin-left 10px
    font-size 14px
    position absolute
    top 20px
    right 0

.cr-menu__controls {
  height cr-height
  position relative
  z-index 100
  background op-blue
}
  .cr-menu__control {
    height cr-height
    line-height cr-height
    background transparent
    border none
    padding 0
    margin 0 40px 0 0
    float left
  }

  .cr-menu__content {
    background op-blue
    position absolute
    z-index 99
    left 0
    top cr-height
    width 0
    max-height 0
    visibility hidden
    box-shadow 0 1px 10px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,.04)
    border-radius 0 0 3px 3px
    background #fff
    transition all 0.4s ease-in 0.1s
    overflow hidden
    -webkit-backface-visibility: hidden;
    &--open {
      visibility visible
      transition all 0.4s ease-in
      width 100%
      max-height 300px
    }
  }
    .cr-menu__item
      position relative
      z-index -1
      width 1000px
      opacity 0
      margin-top -20px
      padding-bottom 20px
      transition opacity 0.4s ease-in, margin-top 0.2s ease-in 0.1s, padding-bottom 0.2s ease-in 0.1s
      &--open
        transition opacity 0.4s ease-in 0.2s, margin-top 0.2s ease-in 0.3s, padding-bottom 0.2s ease-in 0.3s
        opacity 1
        margin-top 0
        padding-bottom 0

.city-list {
  margin 0
  padding 0
  list-style none
  font-size 18px
}
  .city-list__item {
    color #555
    width 33.33333%
    padding 10px 20px
    float left

    &:nth-child(3n-2) {
      border-bottom 2px solid rgba(0,0,0,0.1)
      border-right 2px solid rgba(0,0,0,0.1)
    }
    &:nth-child(3n-1) {
      border-bottom 2px solid rgba(0,0,0,0.1)
    }
    &:nth-child(3n) {
      border-bottom 2px solid rgba(0,0,0,0.1)
      border-left 2px solid rgba(0,0,0,0.1)
    }

    &--last-row {
      border-bottom none !important
    }
  }

.cr-form-group {
  float left
}

.cr-input__wrap {
  float left
  position relative
  height cr-height
  line-height cr-height

  & .fa {
    position absolute
    left 2px
    top 14px
    color rgba(255,255,255,0.6)
  }
}
  .cr-input {
    background transparent
    padding 0 0 0 40px
    border none
    color rgba(255,255,255,0.96)
    border-bottom 2px solid rgba(255,255,255,0.2)
  }

  .cr-input__separator {
    float left
    height cr-height
    line-height cr-height
    margin 0 20px
    color rgba(255,255,255,0.6)
  }