@import 'variables.styl';

.control-row {
  position fixed
  top nav-height
  left 0
  z-index 99
  background op-blue
  width 100%
  color #fff
}

.cr-dropdown__toggle
  background none
  border none
  padding 0 30px 0 0
  height cr-height
  line-height cr-height
  font-size 16px
  font-family "Roboto", Sans-Serif
  font-weight 500
  position relative
  z-index 1000
  transition all 0.1s ease-in
  outline none
  text-align left
  & .fa
    margin-left 10px
    font-size 14px
    position absolute
    top 20px
    right 0

.cr-menu__controls {
  height cr-height
}
  .cr-menu__control {
    height cr-height
    line-height cr-height
    background transparent
    border none
    padding 0
    margin 0 40px 0 0
    float left
  }

  .cr-menu__content {
    background op-blue
    position fixed
    z-index 98
    top -100%
    left 0
    width 100%
    transition top 0.4s ease-in
    &--open {
      top cr-height
    }
  }

    .cr-menu__item
      /*background #fff
      position absolute
      top 6 px
      left -14px
      border-top 50px solid #fff
      width 0
      height 0
      visibility hidden
      overflow hidden
      transition all 0.1s ease-in
      box-shadow 0 1px 10px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,.04)
      border-radius 1px*/
      padding 20px 0
      opacity 0
      margin-top -20px
      padding-bottom 40px
      transition opacity 0.4s ease-in 0.2s, margin-top 0.2s ease-in 0.3s, padding-bottom 0.2s ease-in 0.3s
      &--open
        opacity 1
        margin-top 0
        padding-bottom 20px

.city-list {
  margin 0
  padding 0
  list-style none
  font-size 18px
}
  .city-list__item {
    color rgba(255,255,255,0.7)
    width 33.33333%
    padding 10px 20px
    float left

    &:nth-child(3n-2) {
      border-bottom 2px solid rgba(255,255,255,0.2)
      border-right 2px solid rgba(255,255,255,0.2)
    }
    &:nth-child(3n-1) {
      border-bottom 2px solid rgba(255,255,255,0.2)
    }
    &:nth-child(3n) {
      border-bottom 2px solid rgba(255,255,255,0.2)
      border-left 2px solid rgba(255,255,255,0.2)
    }

    &--last-row {
      border-bottom none !important
    }
  }

.cr-form-group {
  float left
}

.cr-input__wrap {
  float left
  position relative
  height cr-height
  line-height cr-height

  & .fa {
    position absolute
    left 2px
    top 14px
    color rgba(255,255,255,0.6)
  }
}
  .cr-input {
    background transparent
    padding 0 0 0 40px
    border none
    color rgba(255,255,255,0.96)
    border-bottom 2px solid rgba(255,255,255,0.2)
  }

  .cr-input__separator {
    float left
    height cr-height
    line-height cr-height
    margin 0 20px
    color rgba(255,255,255,0.6)
  }