@import 'variables.styl';

.control-row {
  position fixed
  top nav-height
  left 0
  z-index 99
  background op-blue
  width 100%
  height cr-height
  color #fff
  &--mobile {
    padding 0 10px
  }
}

.cr-dropdown__toggle
  background none
  border none
  padding 0 30px 0 0
  height cr-height
  line-height cr-height
  font-size 16px
  font-family "Roboto", Sans-Serif
  font-weight 500
  position relative
  z-index 1000
  transition all 0.1s ease-in
  outline none
  text-align left
  &--open {
    border-bottom 2px solid rgba(255,255,255, 0.3)
  }
  & .fa
    margin-left 10px
    font-size 14px
    position absolute
    top 20px
    right 0

.cr-date {
  float left
  padding 0 20px
  height cr-height
  z-index 100

  &--open {
    background rgba(0,0,0,0.08)
  }

  &--mobile {
    background op-blue
    height auto
    padding 0 10px
    position fixed
    left 0
    top cr-height
    width 100%
  }
}
  .cr-date-button {
    height 30px
    width 30px
    margin 10px 0 10px 0
    padding 6px 0
    font-size 14px
    font-weight 400
    border-radius 100%
    border none
    background #732885
    outline none
    float left
    & .fa {
      margin-top 3px
    }
    &:focus, &:active {
      background #fff
      color #732885
    }
    &--mobile {
      width 48%
      border-radius 4px
      &:last-child {
        margin-left 4%
      }
    }
  }
  .cr-date-button__separator {
    float left
    width 15px
    height 1px
    margin 24px 0 25px
    border-top 2px dotted rgba(255,255,255,0.3)
  }
  .cr-date__blocker {
    position fixed
    z-index 90
    top 0
    left 0
    width 100%
    height 100%
  }

.cr-filter {
  &--mobile&--open {
    position absolute
    top 0
    left 0
    height cr-height
    width 100%
  }
}
  .cr-filter__input {
    position absolute
    z-index 90
    right 0
    display block
    border none
    border-right 26px solid transparent
    background-clip padding-box
    margin 8px 0
    padding 8px 0 7px
    color #000
    border-radius 20px 0 0 20px
    max-width 0
    height 34px
    transition all 0.2s ease-in
    outline none
    box-sizing border-box
    &--open {
      padding-left 20px
      width 400px
      max-width 400px
      transition all 0.2s ease-in 0.2s
    }
    &--mobile&--open {
      width 100%
      max-width 100%
    }
  }
  .cr-filter__button {
    background transparent
    border none
    float right
    color #fff
    font-size 20px
    width 34px
    height 34px
    margin 8px
    border-radius 100%
    outline none
    position relative
    z-index 100
    transition all 0.2s ease-in 0.2s
    &:before {
      content " "
      display block
      position absolute
      z-index -1
      width 0
      height 0
      top 17px
      left 17px
      background #732885
      border-radius 100%
      transition all 0.2s ease-in 0.2s
    }
    &:focus, &:active, &--open {
      color #732885
      transition all 0.2s ease-in
      &:before {
        width 100%
        height 100%
        top 0
        left 0
        background #fff
        transition all 0.2s ease-in
      }
    }
  }
  .cr-filter__close {
    position absolute
    right -40px
    top 0
    background op-blue
    border none
    color rgba(255,255,255,0.4)
    font-size 20px
    width 40px
    height cr-height
    border-radius 100%
    outline none
    z-index 100
    transition all 0.1s ease-in
    &:hover {
      color #fff
    }
  }

.cr-menu__controls {
  height cr-height
  position relative
  z-index 100
  background op-blue
  margin-right 46px
  &--mobile {
    right -10px
    margin-left -10px
  }
}
  .cr-menu__control {
    height cr-height
    line-height cr-height
    position relative
    background transparent
    border none
    border-bottom 0 solid rgba(255,255,255, 0.6) // for animation
    padding 0 24px 0 0
    margin 0 20px 0 0
    float left
    outline none
    transition border 0.2s ease-in
    &--open {
      border-bottom 4px solid rgba(255,255,255, 0.4)
    }
    & .fa-map-marker {
      position relative
      top 1px
      margin-right 8px
      font-size 20px
      color rgba(255,255,255,0.6)
    }
    & .fa-caret-down {
      margin-left 10px
      font-size 14px
      position absolute
      top 18px
      right 0
    }
    &--mobile {
      padding-left 10px
    }
  }

  .cr-menu__content {
    background op-blue
    position absolute
    z-index 99
    left 0
    top cr-height
    width 0
    max-height 0
    visibility hidden
    box-shadow 0 1px 10px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,.04)
    border-radius 0 0 3px 3px
    background #fff
    transition all 0.2s ease-in 0.1s
    overflow hidden
    -webkit-backface-visibility: hidden;
    &--open {
      visibility visible
      transition all 0.2s ease-in
      width 100%
      max-height 300px
      overflow-y auto
    }
    &--date {
      left 140px
    }
    &--open&--date {
      width 762px
    }
  }
    .cr-menu__item {
      position relative
      z-index -1
      width 1000px
      max-width 100%
      opacity 0
      margin-top -60px
      left 0
      padding-bottom 60px
      transition opacity 0.4s ease-in, margin-top 0.2s ease-in 0.1s, padding-bottom 0.2s ease-in 0.1s
      &--open {
        transition opacity 0.1s ease-in, margin-top 0.2s ease-in, padding-bottom 0.2s ease-in
        opacity 1
        margin-top 0
        padding-bottom 0
      }
      &--date {
        width 773pxpx
      }
    }

.city-list {
  margin 0
  padding 0
  list-style none
  font-size 18px
}
  .city-list__item {
    color #555
    width 33.33333%
    padding 10px 20px
    float left

    &:nth-child(3n-2) {
      border-bottom 2px solid rgba(0,0,0,0.1)
      border-right 2px solid rgba(0,0,0,0.1)
    }
    &:nth-child(3n-1) {
      border-bottom 2px solid rgba(0,0,0,0.1)
    }
    &:nth-child(3n) {
      border-bottom 2px solid rgba(0,0,0,0.1)
      border-left 2px solid rgba(0,0,0,0.1)
    }

    &--last-row {
      border-bottom none !important
    }

    &--mobile {
      width 100%
      border none !important
      border-bottom 2px solid rgba(0,0,0,0.1) !important
      &:last-child {
        border none !important
      }
    }
  }

.date-menu {}
  .date-menu__h3 {
    color #aaa
    font-weight 500
    font-size 16px
    margin 0 0 8px
  }
  .date-menu__quick {
    width 240px
    float right
    padding 14px 20px
    border-left 1px solid #ccc

    & .button {
      display block
      margin-bottom 5px
      width 200px
    }
  }

.cr-form-group {
  float left
  position relative
  &--mobile {
    width 100%
  }
}

.cr-input__wrap {
  float left
  position relative
  height cr-height
  line-height cr-height
  width 240px
  & .fa {
    position absolute
    left 10px
    top 15px
    color rgba(255,255,255,0.6)
  }
  &--mobile {
    margin-left 10px
    float none
    width auto
  }
}
  .cr-input {
    position relative
    width 100%
    padding 4px 0 4px 40px
    top -1px
    border none
    border-bottom 2px solid #B379C2
    background rgba(255,255,255,0.08)
    color rgba(255,255,255,0.96)
  }

  .cr-input__separator {
    float left
    width 30px
    height 1px
    margin 24px 0 25px
    border-top 2px solid rgba(255,255,255,0.3)
    &--mobile {
      position absolute
      left 0
      top 23px
      margin 0
      height 52px
      width 10px
      border 2px dotted rgba(255,255,255,0.3)
      border-right none
    }
  }

  [date-picker-wrapper] {
    position absolute
    top 38px
    left 0
    width 100%
    background #9340A8
    border-bottom 2px solid #B379C2
    box-sizing padding-box
    overflow hidden
    transition all 0.2s ease-in
    z-index 1000
    table {
      width 100%
    }
    thead {
      border-top 1px solid #B379C2
    }
    *[ng-repeat="day in weekdays"] {
      display none
    }
    tr {
      margin-right -3px
    }
    span {
      float left
      display block
      width 25%
      text-align center
      height 40px
      line-height 40px
      border-top 1px solid #B379C2
      border-left 1px solid #B379C2
      padding 0 1px 0 0
      &:nth-child(4n-3) {
        border-left none
      }
    }
    td[ng-repeat="day in week"] {
      width (100/7)%
      border-left 1px #B379C2
      box-sizing border-box
      &:nth-child(n7-6) {
        border-left none
      }
      span {
        width 100%
      }
    }
    .active {
      background #B379C2
    }
  }

.cr-mobile-date-menu {
  background transparent
  border none
  float right
  color #fff
  font-size 20px
  width cr-height
  height cr-height
  border-radius 100%
  outline none
  position relative
  transition all 0.2s ease-in 0.2s
}

.cr-side-menu-button {
  position absolute
  right -46px
  top 0
  background transparent
  border none
  float right
  color #fff
  font-size 20px
  width 46px
  height cr-height
  padding 1px 0 0
  border-radius 100%
  outline none
  transition all 0.2s ease-in 0.2s
}