<div class="control-row"
        ng-class="{'control-row--mobile': $root.isMobile }">
    <div class="max-width cf">
        <div class="cr-menu__controls"
             ng-class="{'cr-menu__controls--mobile': $root.isMobile}">
            <button class="cr-menu__control"
                    ng-class="{'cr-menu__control--open': cr.menus.state === 'city', 'cr-menu__control--mobile': $root.isMobile}"
                    ng-click="cr.toggleMenu('city')">
                <i class="fa fa-map-marker map"></i>
                Kaupungit
                <i class="fa fa-caret-down cr-menu"></i>
            </button>
            <div class="cr-date__blocker"
                 ng-if="cr.dateControl && $root.isMobile"
                 ng-click="cr.toggleDate()"></div>
            <div class="cr-date"
                 ng-class="{'cr-date--open': cr.menus.state === 'date', 'cr-date--mobile': $root.isMobile}"
                 ng-if="cr.dateControl">
                <div class="cr-form-group"
                     ng-class="{'cr-form-group--mobile': $root.isMobile}">
                    <div class="cr-input__wrap"
                         ng-class="{'cr-input__wrap--mobile': $root.isMobile}">
                        <i class="fa fa-calendar"></i>
                        <input class="cr-input" type="text" name="start-date"
                               max="{{cr.endDate | date:'yyyy-MM-dd'}}"
                               ng-model="cr.startDate"
                               ng-change="cr.updateDays()"
                               ng-click="cr.focusStartDate()"
                               date-time
                               min-view="date"
                               max="cr.endDate"
                               auto-close="true"
                               format="dd-MM-yyyy">
                    </div>
                    <div class="cr-input__separator"
                         ng-class="{'cr-input__separator--mobile': $root.isMobile}"></div>
                    <div class="cr-input__wrap"
                         ng-class="{'cr-input__wrap--mobile': $root.isMobile}">
                        <i class="fa fa-calendar"></i>
                        <input class="cr-input" type="text" name="end-date"
                               min="{{cr.startDate | date:'yyyy-MM-dd'}}"
                               ng-model="cr.endDate"
                               ng-change="cr.updateDays()"
                               ng-click="cr.focusEndDate()"
                               date-time
                               min-view="date"
                               min="cr.startDate"
                               auto-close="true"
                               format="dd-MM-yyyy">
                    </div>
                </div>
                <div class="cr-date-button__separator" ng-if="!$root.isMobile"></div>
                <button type="button" class="cr-date-button"
                        ng-click="cr.today()"
                        ng-class="{'cr-date-button--mobile': $root.isMobile}">
                    <span ng-if="!$root.isMobile">1d</span>
                    <span ng-if="$root.isMobile">Tänään</span>
                </button>
                <div class="cr-date-button__separator" ng-if="!$root.isMobile"></div>
                <button type="button" class="cr-date-button"
                        ng-click="cr.thisWeek()"
                        ng-class="{'cr-date-button--mobile': $root.isMobile}">
                    <span ng-if="!$root.isMobile">7d</span>
                    <span ng-if="$root.isMobile">Tämä viikko</span>
                </button>
            </div>
            <button type="button" class="cr-side-menu-button"
                    ng-click="cr.toggleSidemenu()">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="cr-filter"
                 ng-class="{'cr-filter--mobile': $root.isMobile, 'cr-filter--open': cr.search.open}">
                <button type="button" class="cr-filter__close"
                        ng-click="cr.closeSearch()"
                        ng-show="cr.search.open"
                        ng-class="{'cr-filter__close--mobile': $root.isMobile}">
                    <i class="fa fa-times"></i>
                </button>
                <button type="button" class="cr-filter__button"
                        ng-click="cr.openSearch()"
                        ng-class="{'cr-filter__button--open': cr.search.open}">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" placeholder="Suodata tapahtumia" ng-model="cr.visibleFilter" class="cr-filter__input"
                       ng-class="{'cr-filter__input--open': cr.search.open, 'cr-filter__input--mobile': $root.isMobile}">
            </div>
            <button type="button" class="cr-mobile-date-menu"
                    ng-if="$root.isMobile"
                    ng-click="cr.toggleDate()">
                <i class="fa fa-calendar"></i>
            </button>
        </div>
        <div class="cr-menu__content" ng-class="{'cr-menu__content--open': cr.menus.state === 'city'}">
            <div class="cr-menu__item" ng-class="{'cr-menu__item--open': cr.menus.state === 'city'}">
                <ul class="city-list cf">
                    <li class="city-list__item"
                        ng-repeat="city in cr.citiesObj"
                        ng-click="cr.selectCity($index)"
                        ng-class="{'city-list__item--last-row': ($index + 1) > cr.lastRowCount, 'city-list__item--mobile': $root.isMobile}">
                        <label class="checkbox-label">
                            <input type="checkbox" name="city"
                                   ng-model="city.selected"
                                   ng-change="cr.updateDays()">
                            <span class="checkbox-label__tick"></span>
                            {{city.name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sidemenu__blocker"
     ng-class="{'sidemenu__blocker--open': cr.sidemenu}"
     ng-click="cr.toggleSidemenu()"></div>
<div class="sidemenu"
     ng-class="{'sidemenu--open': cr.sidemenu}">
    <div class="sidemenu__body">
        <div class="sidemenu__notice">
            Olemme avoimessa alphassa, joten jotkin asiat saattavat olla vielä vähän vinksin vonksin &#x1F605;
        </div>
        <h2 class="sidemenu__title">Opiskelijatapahtumat</h2>
        <div class="sidemenu__description">Opiskelijatapahtumat.fi on suomalaisen korkeakouluopiskelijan tärkein apuväline menovinkkien löytämiseen. Mukaan mahtuu tietysti opiskelijabileet mutta muutkin menokohteet ovat toivottuja.

            Tulemme lisäämään tapahtumia pikapuoliin, ja pyrimme aktiivisesti kehittämään palvelua saadun palautteen mukaan &#x1F44D;
        </div>
    </div>
    <div class="sidemenu__footer">
        <ul class="sidemenu__condensed-list cf">
            <li class="sidemenu__condensed-item"><a class="sidemenu__condensed-link disabled">ToS</a></li>
            <li class="sidemenu__condensed-item"><a class="sidemenu__condensed-link disabled">Ota Yhteyttä</a></li>
            <li class="sidemenu__condensed-item"><a class="sidemenu__condensed-link disabled">Info</a></li>
        </ul>
        <div class="sidemenu__copyright">&copy; 2015 Opiskelijatapahtumat.fi</div>
    </div>
</div>
