<div class="control-row control-row--open">
    <div class="max-width cf">
        <div class="cr-menu__controls">
            <button class="cr-menu__control" ng-class="{'cr-menu__control--open': cr.menus.state === 'city'}" ng-click="cr.toggleMenu('city')">
                <i class="fa fa-map-marker map"></i>
                Kaupungit
                <i class="fa fa-caret-down cr-menu"></i>
            </button>
            <div class="cr-date" ng-class="{'cr-date--open': cr.menus.state === 'date'}">
                <div class="cr-form-group">
                    <div class="cr-input__wrap">
                        <i class="fa fa-calendar"></i>
                        <input class="cr-input" type="date" name="start-date"
                               ng-model="cr.startDate"
                               ng-change="cr.updateDays()">
                    </div>
                    <div class="cr-input__separator"></div>
                    <div class="cr-input__wrap">
                        <i class="fa fa-calendar"></i>
                        <input class="cr-input" type="date" name="end-date"
                               ng-model="cr.endDate"
                               ng-change="cr.updateDays()">
                    </div>
                </div>
                <div class="cr-date-button__separator"></div>
                <button type="button" class="cr-date-button"
                        ng-click="cr.toggleMenu('date')"
                        ng-class="{'cr-date-button--open': cr.menus.state === 'date'}">
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <button type="button" class="cr-filter__close"
                    ng-click="cr.closeSearch()"
                    ng-show="cr.search.open">
                <i class="fa fa-times"></i>
            </button>
            <button type="button" class="cr-filter__button"
                    ng-click="cr.openSearch()"
                    ng-class="{'cr-filter__button--open': cr.search.open}">
                <i class="fa fa-search"></i>
            </button>
            <input type="text" placeholder="Suodata tapahtumia" ng-model="cr.visibleFilter" class="cr-filter__input" ng-class="{'cr-filter__input--open': cr.search.open}">
        </div>
        <div class="cr-menu__content" ng-class="{'cr-menu__content--open': cr.menus.state === 'city'}">
            <div class="cr-menu__item" ng-class="{'cr-menu__item--open': cr.menus.state === 'city'}">
                <ul class="city-list cf">
                    <li class="city-list__item"
                        ng-repeat="city in cr.citiesObj"
                        ng-click="cr.selectCity($index)"
                        ng-class="{'city-list__item--last-row': ($index + 1) > cr.lastRowCount}">
                        <label class="checkbox-label">
                            <input type="checkbox" name="city"
                                   ng-model="city.selected"
                                   ng-change="cr.updateDays()">
                            <span class="checkbox-label__tick"></span>
                            {{city.name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cr-menu__content cr-menu__content--date" ng-class="{'cr-menu__content--open': cr.menus.state === 'date'}">
            <div class="cr-menu__item cr-menu__item--date" ng-class="{'cr-menu__item--open': cr.menus.state === 'date'}">
                <div class="date-menu__quick">
                    <h3 class="date-menu__h3">Nopeat valinnat</h3>
                    <button type="button" class="button button--primary">Tämä päivä</button>
                    <button type="button" class="button button--primary">Tämä viikko</button>
                    <button type="button" class="button button--primary">Tämä kuukausi</button>
                </div>
            </div>
        </div>
    </div>
</div>
