<control-row data-cities="dr.city" start-date="dr.startDate" end-date="dr.endDate" update="dr.updateEvents" visible-filter="dr.visibleFilter" style="position:relative;"></control-row>
<div class="date-list cf">
    <div class="date-list__date" ng-repeat="date in dr.dates">
        <div class="date-title">
            <span class="date-title__weekday">
            {{date.date | date:'EEEE'}}
            </span>
            <span class="date-title__date">
            {{date.date | date:'(MMM d, y)'}}
            </span>
        </div>
        <div class="event-list--empty"
             ng-if="date.events.length === 0">
            Tälle päivälle ei ole tapahtumia
        </div>
        <div class="event-list"
             ng-if="date.events.length > 0">
            <div class="event-item"
                 ng-repeat="event in date.events | orderBy:'start_time' | filter:dr.visibleFilter"
                 ng-click="dr.openEvent($parent.$index, $index)"
                 ng-class="{'event-item--selected': event.selected}">
                <div class="event-item__close"
                     ng-if="event.selected"
                     ng-click="dr.closeEvent(); $event.stopPropagation()"></div>
                <div class="event-item__header"
                     ng-class="{'event-item__header--selected': event.selected}"
                     ng-if="event.image">
                    <div class="event-item__image">
                        <img ng-src="{{event.image}}" alt="{{event.name}}'s photo">
                    </div>
                </div>
                <div class="event-item__body">
                    <div class="event-item__title-text-wrap cf"
                         ng-class="{'event-item__title-text-wrap--selected': event.selected}">
                        <div class="event-item__name"
                             ng-class="{'event-item__name--selected': event.selected}">
                            {{event.name}}
                        </div>
                        <div class="event-item__inforow cf"
                             ng-class="{'event-item__inforow--selected': event.selected}">
                            <div class="event-item__organizer"
                                 ng-class="{'event-item__organizer--selected': event.selected}">
                                <div class="event-item__label"
                                     ng-if="event.selected">Järjestäjä</div>
                                <i class="fa fa-users" ng-if="!event.selected"></i>
                                {{event.owner_groups.group.name}}
                                <span ng-repeat="group in event.owner_groups">
                                    <span ng-bind="group.group.name"></span><span ng-if="!$last">, </span>
                                </span>
                            </div>
                            <div class="event-item__place"
                                 ng-class="{'event-item__place--selected': event.selected}">
                                <div class="event-item__label"
                                     ng-if="event.selected">Paikka</div>
                                <i class="fa fa-map-marker" ng-if="!event.selected"></i>
                                {{event.place}}
                            </div>
                            <div class="event-item__date-range cf"
                                 ng-if="event.start_time.getDay() === event.end_time.getDay() && !event.selected">
                                <i class="fa fa-clock-o" ng-if="!event.selected"></i>
                                <div class="event-item__start-date">{{event.start_time | date:'H:mm'}}</div>
                                <div class="event-item__end-date">{{event.end_time | date:'H:mm'}}</div>
                            </div>
                            <div class="event-item__date-range cf"
                                 ng-if="event.start_time.getDay() !== event.end_time.getDay() || event.selected"
                                 ng-class="{'event-item__date-range--selected': event.selected}">
                                <div class="event-item__label"
                                     ng-if="event.selected">Aika</div>
                                <i class="fa fa-clock-o" ng-if="!event.selected"></i>
                                <div class="event-item__start-date">{{event.start_time | date:'MMM d H:mm'}}</div>
                                <div class="event-item__end-date">{{event.end_time | date:'MMM d H:mm'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="event-item__main">
                        <div class="event-item__description" ng-if="event.selected">{{event.description}}</div>
                        <div class="event-item__links" ng-if="event.selected">
                            <a href="{{event.fb_url}}" target="_blank"
                               class="event-item__link event-item__link--fb"
                               ng-if="event.fb_url">
                                <i class="fa fa-facebook"></i>
                                Facebook
                            </a>
                            <a href="{{event.insta_url}}" target="_blank"
                               class="event-item__link event-item__link--insta"
                               ng-if="event.insta_url">
                                <i class="fa fa-instagram"></i>
                                Instagram
                            </a>
                            <a href="{{event.tw_url}}" target="_blank"
                               class="event-item__link event-item__link--tw"
                               ng-if="event.tw_url">
                                <i class="fa fa-twitter"></i>
                                Twitter
                            </a>
                            <a href="{{event.url}}" target="_blank"
                               class="event-item__link event-item__link--url"
                               ng-if="event.url">
                                <i class="fa fa-link"></i>
                                Nettisivu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-backdrop" ng-if="dr.selectedEvent.active" ng-click="dr.closeEvent()"></div>